$primary-red: #EB3467;
$primary-grey: #E2E4E3;
$outside-border-width: 4px;
$inside-border-width: 2px;
$outside-border: $outside-border-width solid black;
$inside-border: $inside-border-width solid black;
$top-height: calc(20% - 10px);